!!! 5
%html
  %head
    %meta{ :charset => "utf-8" }
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    %title shiv.me
    %link{ :href => "res/font.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "res/style.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    %meta{ :name => "author", :content => "Shivanand Velmurugan" }
    %meta{ :name => "description", 
           :content => "Personal blog of Shivanand Velmurugan. A place for musings, ramblings, rants and occasional bursts of awesomeness!" }
    %meta{ :name => "keywords", 
           :content => "shivanand, velmurugan, shivanand velmurugan, pondicherry, shiva, shiv, PEC, Pondicherry Engineering College, technology, Java, C, C++, Programming, Design, development, photography, Vancouver, Canada" }
  %body
    #page
      #header
        %h1
          %a{ :href => "/" } shiv.me
        #tagline ... musings, ramblings, rants and occasional bursts of awesomeness!
      #content
        #pic 
          %img{ :src => "res/pic.jpg" }

        %h1
          It's MOVEMBER!! 
        Please 
        %a{ :href => "http://mobro.co/shivanand" } donate. 
        All donations are tax-deductible.  
        

        #bio
          %p
            I am ...
            %ul
              %li
                %a{ :href => "/" } Shivanand.
              %li
                %a{ :href => "http://github.com/shiva" } Hacker. 
                (Not 
                %a{ :href => "http://en.wikipedia.org/wiki/Hacker_%28programmer_subculture%29" }
                  security, 
                but the 
                %a{ :href => "http://www.catb.org/jargon/html/index.html" } programming 
                kind). 
              %li
                %a{ :href => "http://shiv.500px.com/" } Photographer.
              %li (aspiring) pianist.
              %li (moderate) tennis player.
              %li list-maker.
          %p  
            I 
            %a{ :href => "http://twitter.com/shiva" } tweet
            ,
            %a{ :href => "http://shiva.tumblr.com/" } tumble
            ,
            %a{ :href => "http://facebook.com/shivanand" } facebook 
            \. Am I allowed to use that as a verb?! Who cares, to hell with correctness!
            Ohh. I also 
            %a{ :href => "/blog" } blog in long form
            \. Recently, I've started a project called 
            %a{ :href => "/projects/people-of-gvrd" } People of GVRD
            , among other things. Check it out, and let me know what you think.
      #footer
        This site was generated using 
        %a{ :href => "http://stasis.me/" } Stasis
        , a static site-generator, and written using
        %a{ :href => "http://haml.info/" } HAML,
        and some free time on a Sunday night.
