!!! 5

<!--	<meta name="description" content="Shivanand Velmurugan" />
	<meta name="keywords" content="shivanand, velmurugan, shivanand velmurugan, pondicherry, shiva, shiv, PEC, Pondicherry Engineering College, technology, Java, C, C++, Programming, Design, development, photography, Vancouver, Canada" />
</head>
-->

%html
  %head
    %title shiv.me
    %link{ :href => "./res/font.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "./res/style.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    %meta{ :name="author" content="Shivanand Velmurugan" }
    %meta{ :name="description", 
           :content="Personal blog of Shivanand Velmurugan. \ 
                     A place for musings, ramblings, rants and occasional bursts of awesomeness!" }
	%meta{ :name="keywords", 
           :content="shivanand, velmurugan, shivanand velmurugan, pondicherry, shiva, shiv, PEC, \
                     Pondicherry Engineering College, technology, Java, C, C++, Programming, Design, \
                     development, photography, Vancouver, Canada" }
  %body
    #page
      #header
        %h1
          %a{ :href => "/" } shiv.me
        #tagline
			    … musings, ramblings, rants and occasional bursts of awesomeness!
      #content
        #pic
		      %img{ :src => "./res/pic.jpg" }
      #bio
		    %p
			    I am 
          %a{ :href => "/" } Shivanand
          \.&nbsp; 
          %a{ :href => "http://github.com/shiva" } Hacker
          \.&nbsp; (
          %a{ :href => "http://en.wikipedia.org/wiki/Hacker_%28programmer_subculture%29" }
            not security, but the programming kind
          ). 
          %a{ :href => "http://flickr.com/shvelmur" } Photographer
          \. (aspiring) pianist. (moderate) tennis player.
			  %p
          I 
          %a{ :href => "http://twitter.com/shiva" } tweet
          ,&nbsp; 
          %a{ :href => "http://shiva.tumblr.com/" } tumble
          ,&nbsp; 
          %a{ :href => "http://facebook.com/shivanand" } facebook 
          \.&nbsp; (Am I allowed to use that as a verb?! to hell with correctness!)
        %p
          Ohh. I also 
          %a{ :href => "/blog" } blog in long form
          \. Recently, I've started a project called 
          %a{ :href => "/projects/people-of-gvrd" } People of GVRD
          , among other things. Check it out, and let me know what you think.
      #footer
